html{
    background-color: aquamarine;
    border: none;
    
}

body{
    width: 75%;
    margin: auto;
}
header {
    background: azure;
    border-bottom: 4px solid grey;
    border-left: 4px solid grey;
    border-radius: 1rem;
}

h1{
    font-size: 4rem;
    text-align: center;

}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 6rem;
}
nav hr{
    border: none;
    height: 0.2rem;
    background: linear-gradient(to right, transparent, aquamarine, transparent);
}

a{
    color: black;
    font-size: 2rem;
    text-decoration: none;
    margin: 10px;
    background-color: rgb(139, 190, 18);
    border-radius: 3rem;
    padding: 0.5rem;

    transition: 0.3s;
}
a:hover{
    padding: 0.6rem;
    font-size: 2.25rem;
}

#inicio h2{
    text-align: center;
    font-size: 2rem;
}

#inicio div{
    background-color: azure;
    border-bottom: 4px solid grey;
    border-left: 4px solid grey;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
#inicio div h3{
    text-align: center;
}
#inicio div hr{
    border: none;
    height: 0.2rem;
    background: linear-gradient(to right, transparent, aquamarine, transparent);
}

#tiposescalada{
    background: azure;
    border-bottom: 4px solid grey;
    border-left: 4px solid grey;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}
#tiposescalada h2{
    font-size: 2rem;
}


#tiposescalada div div{
    background: azure;
    border: 4px solid rgb(139, 190, 18);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

#tiposescalada h2{
    margin-top: 0%;
}
#tiposescalada h3{
    margin: 0%;
}

#tiposescalada hr{
    border: none;
    height: 0.2rem;
    background: linear-gradient(to right, transparent, aquamarine, transparent);
}

#equipo{
    background-color: azure;
    border-bottom: 4px solid grey;
    border-left: 4px solid grey;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin-top: 2rem;
}

#equipo h2{
    font-size: 2rem;
    margin-top: 0%;
}

#equipo div div{
    background-color: azure;
    border: 4px solid rgb(139, 190, 18);
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

#equipo h3{
    margin: 0%;
}

#equipo hr{
    border: none;
    height: 0.2rem;
    background: linear-gradient(to right, transparent, aquamarine, transparent);
}


#montanas{
    background-color: azure;
    border-bottom: 4px solid grey;
    border-left: 4px solid grey;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin-top: 2rem;
}

#montanas h2{
    font-size: 2rem;
    margin-top: 0%;
}

#montanas .nivel{
    background-color: azure;
    border: 4px solid rgb(139, 190, 18);
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}


#montanas h3{
    margin: 100%;
}

#montanas h4{
    margin-bottom: 0%;
}

#montanas hr{
    border: none;
    height: 0.2rem;
    background: linear-gradient(to right, transparent, aquamarine, transparent);
}

#montanas p{
    margin-bottom: 4rem;
}

#seguridad{
    background-color: azure;
    border-bottom: 4px solid grey;
    border-left: 4px solid grey;
    border-radius: 1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-align: center;
    margin-top: 2rem;
}

#seguridad h2{
    font-size: 2rem;
    margin-top: 0%;
}

img{
    margin-top: 1rem;
    width: 25rem;
    height: 18rem;
    object-fit: cover;
}
